/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* Site layout */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100svh;
  background-color: rgb(202, 190, 186);
}
header,
footer {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
}
main {
  margin: 0 auto;
  max-width: 350px;
  width: 80%;
  background-color: white;
  padding: 1rem;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

footer {
  border-top: 1px solid black;
}

header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  max-width: 400px;
}

.logo {
  padding-left: 10px;
  max-width: 120px;
}

.p_categories_brands_season {
  margin-left: auto;
  padding-right: 10px;
  max-width: 100px;
}

@media screen and (min-width: 800px) {
  /* desktop styles */
  main {
    max-width: 1200px;
    width: 100%;
  }

  .logo {
    padding-left: 100px;
    min-width: 300px;
  }

  .p_categories_brands_season {
    margin-left: auto;
    padding-right: 200px;
    min-width: 400px;
  }

  header {
    min-width: 1600px;
  }
}
