img {
  max-width: 90%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section_accessories {
  display: grid;
  align-items: center;
}

@media screen and (min-width: 800px) {
  /* desktop styles */
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
