img {
  max-width: 90%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section_accessories {
  display: grid;
  align-items: center;
}

a:hover img {
  transform: scale(1.05); /* Laver hover effect = forstørrer */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* Laver skygge og farve på hover effecten */
}

a {
  display: block; /* Sørger for at hover ikke ødlægger layoutet */
  overflow: hidden; /* Sørger for at hover ikke ødlægger layoutet */
}

.discound_soldout {
  display: flex;
  align-items: center;
}

.udsolgt,
.discount {
  background-color: brown;
  max-width: 70px;
  text-align: center;
  padding: 10px;
  margin: 5px;
  border-radius: 2px;
  color: white;
  margin-top: 30px;
}

.div_img {
  padding: 10px;
}

.div_button {
  display: flex;
}

.p_streg {
  text-decoration: line-through;
  color: brown;
}

button {
  background-color: white;
  min-width: 120px;
  text-align: center;
  padding: 10px;
  margin: 5px;
  border-radius: 2px;
  border: 1px solid black;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

button:hover {
  transform: scale(1.05); /* Laver hover effect = forstørrer */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* Laver skygge og farve på hover effecten */
}

@media screen and (min-width: 800px) {
  /* desktop styles */
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
